@font-face {
    font-family: Carrots;
    src: url(../fonts/carrots/Carrots\ Free.ttf);
}


*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-image: url(../Images/backgroundsite.avif);
    background-size: cover;
}
:root{
    --primarycolor : #ff009dfb ;
    --secondarycolor : #4616b6fb ;
    --primaryfont : Carrots;
    --secondaryfont : ;

}

#conteudo{
    display: flex;
    flex-direction: column;
}

#rodape{
    background-color: #ffec41fb;
    
}

#cellphone{
    text-decoration: none;
    color: rgb(206, 2, 2);
    cursor: pointer;
}

#cabecalho{
    width: 100%;
    background-color: var(--primarycolor);
    background-position: center;
    text-align: center;
    color: white;
    font-family: var(--primaryfont) ;
    font-size: 45px;

}

#Titulo{
    font-family: var(--primaryfont);
    font-size: 70px;
}


#subtitulo{
    margin-left: 550px;
    font-size: 28px;
    
}

#banner{
    background-size: 50px;
    background-position: center;
    text-align: center;
    margin-top: 30px;
    /*About Text:*/
    background-color: var(--secondarycolor);
    background-position: center;
    text-align: center;
    color: white;
    font-style: oblique;
}
#categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffec41fb;
    gap: 250PX;

    
}

.button{
    background-color: #ff009dfb;
    color: white;
    border-radius: 300px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.button span{
    size: 60px;
    position: relative;
}
.button::before{
    content: "";
    background-color: #4616b6fb;
    width: 0px;
    height: 0px;
    position: absolute;
    top: var(--eixoY);
    left: var(--eixoX);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    transition: width .5s, height .5s;
}

.button:hover::before{
    width: 1000px;
    height: 1000px;
}

#catalogo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px auto;
    text-align: center;

}

.produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 200px; 
    background-color: #4616b6fb;
    border-radius: 20px;
    text-align: center;
    color: aliceblue;
    height: 300px;
    justify-content: center;
    
}

.produtos img{
    width: 100% ;
    
    
}
